html { font-size: calc(0.8em + 0.5vw); }

body {
  background: black;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  position: relative;
}

/*Note to professor: I tried to somehow manage the responsiveness of the text by adjusting the width in relation to the parent since I needed this entire div to be positioned absolute to stack it with a functional/clickable interactive background */

#intro {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1rem;
  text-align: left;
  padding-left: 10px;
  word-wrap: break-word;

  /*bad centering for now*/
  top: 5rem;
  bottom: 5rem
}

.info {
  background-color: rgba(30, 30, 30, 0.5);
  color: #fefbf6;
  width: 80%;
  padding-left: 10px;

}

.main {
  width: 20%;
}

#grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  justify-content: center;
}

.grid-element {
  min-width: 100%;
  min-height: 100%;
  background-color: #cb6969;
  cursor: pointer;
  position: relative;
}

.grid-element:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  outline: 1px solid #fefbf6;
  opacity: 50%;
  display: block;
}

.grid-element:hover {
  opacity: 0.8;
}